<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aplikacja TODO</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<!-- Header -->
<header class="py-5 bg-dark">
    <div class="container">
        <h4 class="m-3 text-center text-white">Aplikacja TODO</h4>
    </div>
    <h4 class="m-3 text-right text-white" th:"text">Zalogowany jako: [[${#httpServletRequest.remoteUser}]]</h4>

    <div th:insert="menu.html :: div"></div>
</header>
<div class="container mt-2">
    <h1>Dodaj zadanie</h1>

    <form role="form" th:object="${ZadanieEntity}" th:action="@{/addzadanie}" method="post">

        <!--        <div>-->
        <!--            <input type="text" name="ukonczone" id="ukonczone" placeholder="Ukonczone" />-->
        <!--        </div>-->

        <div>
            <input type="text" name="opis" id="opis" placeholder="Opis zadania"/>
            <!--        <input type="date" name="datautworzenia" id="datautworzenia" placeholder="Data utworzenia"/>-->
            <!--        <input type="date" name="datazamkniecia" id="datazamkniecia" placeholder="Data zamkniecia"/>-->
            <!--        <input type="text" name="ukonczone" id="ukonczone" placeholder="ukonczone"/>-->
        </div>
        <br>
        <button class="btn btn-danger" type="submit" value="Zapisz">Zapisz</button>
<!--        <input type="submit" value="Zapisz"/>        -->
        <!--    <a href="listzadanie">Anuluj</a>-->
        <form action="listzadanie">
            <button class="btn btn-danger" type="button" onclick="location.href='listzadanie';" value="Anuluj" >Anuluj</button>
        </form>
    </form>
</div>
<!-- Footer -->
<br><br>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; TARR2019 Java6 Tomasz Letki</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>