<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aplikacja do zarządzania zadaniami, ToDo application">
    <meta name="author" content="Tomasz Letki">
    <title>Aplikacja TODO</title>

    <!-- Bootstrap core CSS -->
    <div th:insert="i_css.html :: div"></div>
</head>
<body>
<!-- Header -->
<div th:insert="i_header.html :: div"></div>
<div class="container mt-2">
    <h1>Dodaj zadanie</h1>

    <form role="form" th:object="${ZadanieEntity}" th:action="@{/addzadanie}" method="post">

        <div>
            <input type="text" name="opis" id="opis" placeholder="Opis zadania"/>

        </div>
        <br>
        <button class="btn btn-danger" type="submit" value="Zapisz">Zapisz</button>
        <form action="listzadanie">
            <button class="btn btn-danger" type="button" onclick="location.href='listzadanie';" value="Anuluj" >Anuluj</button>
        </form>
    </form>
</div>
<!-- Footer -->
<div th:insert="i_footer.html :: div"></div>
</body>
</html>