<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aplikacja do zarządzania zadaniami, ToDo application">
    <meta name="author" content="Tomasz Letki">
    <title>Admin panel</title>

    <!-- Bootstrap core CSS -->
    <div th:insert="i_css.html :: div"></div>
</head>

<body>
<!-- Header -->
<header class="py-5 bg-dark">
    <div class="container">
        <h4 class="m-3 text-center text-white">Aplikacja TODO</h4>
    </div>
    <h4 class="m-3 text-right text-white" th:"text">Zalogowany jako: [[${#httpServletRequest.remoteUser}]]</h4>

    <div th:insert="i_menu.html :: div"></div>
</header>

<h1>Admin Panel</h1>
</body>


</html>