<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aplikacja do zarządzania zadaniami, ToDo application">
    <meta name="author" content="Tomasz Letki">
    <title>Sign up</title>

    <!-- Bootstrap core CSS -->
    <div th:insert="i_css.html :: div"></div>
</head>

<body>

<!-- Header -->
<div th:insert="i_header_no_sign.html :: div"></div>

<div class="container-fluid">
    <div class="col-sm-12 text-center">
        <form class="login-form" action="/sign_up" method='POST'>
            <h1 class="login-element">Dodaj użytkownika</h1>
            <div class="login-element">Adres email:</div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input class="login-element" type='email' name="username" value=''>
            <div class="login-element">Hasło:</div>
            <input class="login-element" type='password' name="password" th:maxlength="30" value=''>
            <div class="login-element">Nazwa do wyświetlania:</div>
            <input class="login-element" type='text' name="text" value=''>
            <br>
            <br>
            <div>
                <button class="btn btn-danger" type="submit" value="Zaloguj">Dodaj</button>
            </div>

        </form>
    </div>
</div>

<!-- Footer -->
<div th:insert="i_footer.html :: div"></div>
</html>