<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!-- Header -->
<header class="py-5 bg-dark">
    <div class="container">
        <h4 class="m-3 text-center text-white">Aplikacja TODO</h4>
    </div>
    <!--    <h4 class="m-3 text-right text-white" th:"text">Zalogowany jako: [[${#httpServletRequest.remoteUser}]]</h4>-->
    <h4 class="m-3 text-right text-white">Nie zalogowany</h4>
    <!--    <form th:action="@{/logout}" method="post">-->
    <!--        <button  class="m-3 btn-danger" style="float:right" type="submit" value="Wyloguj">Wyloguj</button>-->
    <!--    </form>-->
    <!-- /.container -->
    <!--    <div th:insert="menu.html :: div"></div>-->
<!--    <div align="right">-->
<!--        <a class="m-3 text-right text-white" href="/login">Zaloguj się</a>-->
<!--    </div>-->
    <div align="right">>
        <button class="btn btn-danger" type="submit" onclick="location.href='login'" value="Zaloguj się">Zaloguj się</button>
    </div>
</header>
<div class="container-fluid">
    <div class="col-sm-12 text-center">
        <form class="login-form" action="/sign_up" method='POST'>
            <h1 class="login-element">Dodaj użytkownika</h1>
            <div class="login-element">Adres email:</div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input class="login-element" type='email' name="username" value=''>
            <div class="login-element">Hasło:</div>
            <input class="login-element" type='password' name="password" th:maxlength="30" value=''>
            <div class="login-element">Nazwa do wyświetlania:</div>
            <input class="login-element" type='text' name="text" value=''>
<!--            <input class="login-element" name="submit" type="submit" value="Dodaj">-->
            <div>
                <button class="btn btn-danger" type="submit" value="Zaloguj">Dodaj</button>
            </div>

        </form>
    </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; TARR2019 Java6 Tomasz Letki</p>
    </div>
    <!-- /.container -->
</footer>
</body>


</html>