<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aplikacja do zarządzania zadaniami, ToDo application">
    <meta name="author" content="Tomasz Letki">
    <title>User panel</title>

    <!-- Bootstrap core CSS -->
    <div th:insert="i_css.html :: div"></div>
</head>

<body>
<!-- Header -->
<div th:insert="i_header.html :: div"></div>

<h1>Panel użytkownika</h1>

<!-- Footer -->
<div th:insert="i_footer.html :: div"></div>
</body>

</html>